* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 10px;
}

header {
  background-color: #7c83fd;
  height: 65px;
  width: 100%;
}

.header-left {
  float: left;
}

.logo {
  width: 124px;
  margin-top: 15px;
}

.header-right {
  float: right;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.fa {
  margin-right: 5px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.top-wrapper {
  background-color: #96baff;
  background-size: cover;
  padding: 80px 0 300px 0;
}

.top-wrapper h1 {
  color: white;
  text-align: center;
}

.square {
  height: 150px;
  width: 150px;
  background-color: #7dedff;
  position: relative;
  text-align: center;
}

.btn {
  padding: auto;
  color: #7c83fd;
  display: inline-block;
  opacity: 0.8;
  border-radius: 10px;
}

.profil {
  float: left;
  width: 20%;
}

.profil-icon {
  position: relative;
  margin: 0 15px;
}

.top-wrapper p {
  top: 45%;
  color: white;
  margin-top: 20px;
  position: absolute;
  float: left;
  width: 20%;
  text-align: center;
}

.profil-icon a {
  top: 90px;
  width: 100%;
  color: white;
}

.profil-icon img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: block;
  float: center;
  margin: 40px auto 20px auto;
}

.main-wrapper {
  background-color: #7dedff;
  height: 400px;
}

.main-wrapper img {
  margin-top: 25px;
  width: 35%;
  float: right;
}

.main-wrapper h1 {
  font-size: 48px;
  font-weight: Bold;
  text-align: left;
  color: #7c83fd;
  margin-top: 0;
  padding-top: 10px;
}

.main-wrapper h2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 2;
  max-width: 45%;
  text-align: left;
  color: #7c83fd;
}

.team h1 {
  font-family: "Acme", sans-serif;
  margin-top: 0;
  padding-top: 80px;
}

.main-team {
  background-color: #96baff;
  height: 2500px;
}

.team {
  margin-bottom: 150px;
}

.team img {
  width: 150px;
  float: right;
  margin-right: 50px;
  position: relative;
}

.nama {
  display: inline-block;
  text-align: left;
  width: 50%;
  font-family: "Fira Sans Condensed", sans-serif;
}

.motivate {
  font-size: 20px;
  font-weight: bold;
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: #88fff7;
  text-align: left;
  border-radius: 4px;
}

.nama-logo {
  font-size: 42px;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
}

.garis {
  margin-top: 2px;
  height: 5px;
  background-color: #7dedff;
}

footer {
  background-color: #7c83fd;
  color: #fff;
  height: 80px;
  padding: 0px 40px;
}

footer img {
  float: left;
  display: inline-block;
  height: 80px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-top: 7px;
  padding-bottom: 20px;
  padding-right: 40px;
  float: right;
  list-style: none;
  font-size: 18px;
}

.footer-list a {
  display: block;
  color: white;
  opacity: 0.8;
  border-radius: 4px;
  float: left;
  transition: all 0.5s;
  margin: 0 auto;
  padding: 0 10px;
  margin: 0;
}

.footer-list li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
